- name: Stop Docker
  service: 
    name: docker
    state: stopped
#  when: uninstall_docker == true

- name: Disable Docker
  service: 
    name: docker
    enabled: false

- name: Uninstall Docker 
  yum:
    name: docker
    state: absent

- name: Uninstall Atomic OpenShift utils 
  yum:
    name: atomic-openshift-utils
    state: absent
# later add firewall info
